*{
    margin:0 ;
    font-family:var(--font-ui)
    
}

:root{
    --height: 66px;
    --buttonColor: #f05123;
    --font-ui: 'Segoe UI';
}
body{
  overflow-x: hidden;
    
}

a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
ul{
    /* margin:0; */
    padding:0;
}

.banner{
    margin-top:10px;
   margin-left: 10px; 
   position: relative;
   width: 1800px;
   height: 300px;
}
.slide{
  width: 100%;
  height: 100%;
  position: absolute;
}
.banner img{
    border-radius: 20px;
}

.app_body{
   width: 100%;
   /* background-color: rebeccapurple; */
}

.app_withSidebarContent{
    width: 94%;
    
}


.homeWrapper{
    padding-left: 50px;
    margin-top:50px;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */

  
    border: 4px solid var(--buttonColor)
;   border-radius: 0px;
    cursor: pointer; /* Add a mouse pointer on hover */
    height: 50px;
    width: 50px;
    border-radius: 999px;
 
    font-size: 20px; /* Increase font size */
   
   
  }
  
  #myBtn:hover {
    /* background-color: cadetblue; Add a dark-grey background on hover */
  }

  @keyframes moblieMenu {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
  }
  /* PC */
  .moblieMenu__wrapper{
    animation:  moblieMenu .5s ease;
    background-color: rgba(0,0,0,.3);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 21;
  
  }
  .moblieMenu__body{
    animation: moblieMenu .5s ease;
    background-color: #fff;
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 60%;
  }
  .moblieMenu__scroll{

    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    max-height: 100%;
    overflow-y: auto;
    padding: 16px 0 0 32px;

  }
  .moblieMenu__listWrap{
    margin-top: 24px;
  }
  .index-module__list{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 20px;
    margin: 0 0 12px;
    border-bottom: 1px solid rgba(0,0,0,.079);
    font-size: 20px;
    padding: 16px 0;
  }
  .index-module_listItem{
    font-size: 1.4rem;
    line-height: 20px;
   
  }
  .index-module_listItem{
    transition: all .5s;
  }
  .index-module_listItem a {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    color: #333;
    cursor: pointer;
    display: block;
    font-size: 24px;
    font-weight: 500;
    padding: 20px 0 20px 20px;
    transition: .3s;
    display: flex;
    align-items: center;
  }
  .index-module_listItem a span:nth-child(1){
    color: #757575;
    display: inline-block;
    margin-right: 19px;
    text-align: center;
    width: 20px;

  }
  .index-module_listItem:hover{
    border-radius: 10px;
    background-color: #cbcbcb;
  }
  .btn-logo__menu{
    display: flex;

    align-items: center;

  }
  .btn__menu{
    margin-left:20px;
    cursor: pointer;
  }