*{
    margin:0 ;
    font-family:var(--font-ui)
    
}

:root{
    --height: 66px;
    --buttonColor: #f05123;
    --font-ui: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    --primary-color: #f05123;
    --black-color: #000;
    --white-color: #fff;
    --gray-color: #666;
    --text-color: #333;
    --plum-color: #b80257;
    --fb-color: #4080ff;
    --mail-color: #f47425;
    --invalid-color: #f33a58;
    --desc-color: #0000008a;
    --first-color: #1dbfaf;
    --second-color: #1dbfaf;
    --button-color: #1dbfaf;
}
body{
  overflow-x: hidden;
    
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
ul{
    /* margin:0; */
    padding:0;
}


.d-flex{
    display: flex;
}
.d-flex-j{
    display: flex;
    justify-content: center;
    align-items: center;
}
.app_header{
    background-color: #fff;
   align-items: center;
   justify-content: space-between;
   border-bottom: 1px solid #e8ebed;
   height: var(--height);
}
.searchInput{
    border: 2px solid #e8e8e8;
    height: 40px;
    position: relative;
    border-radius: 20px;
    width: 420px;
}
.searchInput input{
    border: none;
    width: 90%;
    border-radius: 20px;

    height: 100%;
    outline: none;
    padding: 0 10px;
}
.searchInput span{
    position: absolute;
    top: 5px;
    right: 10px;
}
.header_logo img{
   margin-right: 15px;
   margin-left: 30px;
}
.header_action{
    margin-right: 30px;
}
.header_action__loginBtn, .header_action__logoutBtn{
    background-color: var(--buttonColor);
    border-radius: 999px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-family: var(--font-ui);
    font-weight: 600;
    padding: 9px 20px;
    
}
.header_action__logoutBtn{
    display: none;
}
.app_sidebarWrap{
    width: 6%;
    flex-direction: column;
    align-items: center;
    
}
.createButton{
    align-items: center;
   position: relative;
    border-color: #1473e6;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: flex;
    height: 44px;
    justify-content: center;
    margin: 8px 0 2px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 44px;
    
}
/* .createButton:hover .add_newBlog__link{
    display: flex;
} */
.add_newBlog__link{
    position: absolute;
    top: 120%;
    left: 10%;
    width: 150px;
    
    border-radius: 12px;
    border: none;
    color: #444;
    cursor: pointer;

    font-size: 15px;
    padding: 12px 20px 12px 0px;
    transition: .3s;
    background-color: var(--white-color);
    font-weight: 400;
    box-shadow: 0 -4px 32px rgba(0,0,0,.2);
    display: none;
    justify-content: center;
   
    align-items: center;
}
.add_newBlog__link span{
    margin-right: 10px;
}
.sidebar_list li a {
    align-items: center;
    
    
    color: #404040;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 72px;
    justify-content: center;
    margin-top: 4px;
    width: 72px;

}
.sidebar_list li{
    padding-bottom:15px;
    padding:10px;
    
    border-radius: 16px;
}

.sidebar_list li:hover{
    background-color: #e8ebed;
    z-index: 1;
}
.createButton{
    margin-bottom: 10px;
}
.createBtn{
    color:#1473e6;
    font-size: 45px !important;

}
.sidebar_icon__sub{
    font-size: 14px;
    font-weight: 500;
}

.scrollList_body{
    display: flex;
    flex-wrap: wrap;
   
}
.item{
    overflow: unset;
    position: relative;
    width: 25%;
    margin-bottom:50px;
    transition: 0.5s all;
  
}


.item_button {
    opacity: 0;
    transform: translateY(0%);
    transition: opacity 0.5s, transform 0.5s;
}

.item:hover .item_button {
    opacity: 1;
    transform: translateY(-50%);
}
.item_button{
    position: absolute;
    left: 30%;
   
    top:40%;
    /* background-color: black; */
    transition: all 0.5s ease 0s;
 
    z-index: 1;
    cursor: pointer;
    padding:12px;
    border-radius: 999px;
    outline: none ;
    border: 1px solid rgb(37, 37, 37);
    font-family: inherit;
    font-size: 15px;
    line-height: 1.15;
    margin: 0;
    font-weight: 550;
    /* visibility: hidden; */
}

.img_wrapper{
   border-radius: 20px;
   width: 90%;
   position: relative;
}
.item_img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 15px;
}
.item > h3{
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    color: #292929;
    display: -webkit-box;
    font-size: 1.1rem;
    line-height: 1.4;
    overflow: hidden;
    font-weight: 630;
    margin-bottom:3px;
    margin-top:5px;
    
}

.studentCourse_count{
    align-items: center;
    justify-content: space-between;
    width: 80px;
}
.scrollList_heading h1{
    font-size: 26px;
    font-weight: 800;
    margin: 15px 0px 15px 0px;
}
.scrollList_label{
    background-color: #1473e6;
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    padding: 3px 6px;
    position: relative;
    right: -11px;
    text-transform: uppercase;
    top: 13px;
    height: 20px;

}

@keyframes moblieMenu {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
  }
  /* PC */
  .moblieMenu__wrapper{
    animation:  moblieMenu .5s ease;
    background-color: rgba(0,0,0,.3);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 21;
  
  }
  .moblieMenu__body{
    animation: moblieMenu .5s ease;
    background-color: #fff;
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 60%;
  }
  .moblieMenu__scroll{

    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    max-height: 100%;
    overflow-y: auto;
    padding: 16px 0 0 32px;

  }
  .moblieMenu__listWrap{
    margin-top: 24px;
  }
  .index-module__list{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 20px;
    margin: 0 0 12px;
    border-bottom: 1px solid rgba(0,0,0,.079);
    font-size: 20px;
    padding: 16px 0;
  }
  .index-module_listItem{
    font-size: 1.4rem;
    line-height: 20px;
   
  }
  .index-module_listItem{
    transition: all .5s;
  }
  .index-module_listItem a {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    color: #333;
    cursor: pointer;
    display: block;
    font-size: 24px;
    font-weight: 500;
    padding: 20px 0 20px 20px;
    transition: .3s;
    display: flex;
    align-items: center;
  }
  .index-module_listItem a span:nth-child(1){
    color: #757575;
    display: inline-block;
    margin-right: 19px;
    text-align: center;
    width: 20px;

  }
  .index-module_listItem:hover{
    border-radius: 10px;
    background-color: #cbcbcb;
  }
  .btn-logo__menu{
    display: flex;

    align-items: center;

  }
  .btn__menu{
    margin-left:20px;
    cursor: pointer;
  }
  .header_action__moblie span:nth-child(1){
        margin-right: 10px;
  }
  .header_action__moblie{
    display: none
  }
