*{
    margin:0 ;
    font-family:var(--font-ui)
    
}

:root{
    --height: 66px;
    --buttonColor: #f05123;
    --font-ui: 'Segoe UI';
}
body{
  overflow-x: hidden;
    
}

a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
ul{
    /* margin:0; */
    padding:0;
}

.banner{
    margin-top:10px;
   margin-left: 10px;
}
.banner img{
    border-radius: 20px;
}

.app_body{
   width: 100%;
   /* background-color: rebeccapurple; */
}

.app_withSidebarContent{
    width: 94%;
    
}


.homeWrapper{
    padding-left: 50px;
    margin-top:50px;
}

